
:root {
  --PrimaryColor: #181b27;
}

.leftpart {
  width: 15%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--PrimaryColor);
}

.logo_wrap {
  background-color: var(--PrimaryColor);
  padding: 50px 20px;
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 50px;
  border-bottom: 1px solid rgba(255,255,255,.1);
  box-sizing: border-box;
}

.logo_wrap a img {
  vertical-align: middle;
  width: 100%;
}

.menu_list_wrap {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  box-sizing: border-box;
}

.menu_list_wrap ul {
  list-style: none;
}

.menu_list_wrap ul li {
  text-align: center;
}

.menu_list_wrap ul li a, button {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  padding-bottom: 85px;
}

.menu_list_wrap ul li button {
  background: none;
  border: none;
}
